*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

body {
    background-image: url('images/background-g5bb56e7a2_1920.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

#navbar {
    width: 100%;
    height: 80px;
    background-color: #ddd;
    opacity: .8;
    color: rgb(41, 41, 41);
    display: sticky;
    top: 0;
    background-color: #ddd;
    margin: auto 0;
}

.navbar-body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.navbar-header {
    width: 200px;
    margin: 0 !important;
}

.navbar-header h1 {
    display: inline !important;
    width: 100%;

}

.navbar-content {
    width: 40%;
    height: max-content;
    transition: 1s;
}

.navbar-content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-content ul li {
    width: max-content;
    list-style: none;
    padding: 20px 30px;
    transition: .5s ease-in;
}

.navbar-content ul li:hover {
    background-color: rgb(41, 41, 41);
    color: #ddd;
    border-radius: 5px;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.container-body {
    width: 50%;
    height: 300px;
    background-color: #ddd;
    color: #007BFF;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}